/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Jacquard+12&family=Pacifico&family=Playwrite+HR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background: linear-gradient(to right, #1f0021, #751006);

    /* background: linear-gradient(to right, #FF0000, #000000, #8B4513); */

}

/* Header and Navigation */
header {
    background: rgba(73, 46, 46, 0.479);
    color: #fff;
    padding: 15px 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

header img {
    width: 50px;
}

header h1, .footer h1 {
    margin: 0;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 36px;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-weight: 400;
}

header nav a:hover {
    text-decoration: underline;
}
.hero-container {
    background-attachment: fixed;
    background-image: url('/static/images/hero10.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.hero-container h2, .hero-container span, .call-to-action {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-container h2 {
    font-size: 45px;
    color: #fff;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 120px;
    margin-bottom: 30px;
}

.hero-container span {
    color: #fff;
    font-size: 26px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.hero-container .call-to-action {
    margin-top: 50px;
}

.hero-container .call-to-action a {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: red;
}

.hero-container .call-to-action a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.artist-bunnar {
    height: 20vh;
    background: linear-gradient(to right, #1f0021, #751006);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.artist-bunnar h2 {
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
}

.artist-bunnar a {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: red;
}

.artist-bunnar a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    /* background-color: #f9f9f9; */
    margin-top: 30px;
    color: #fff;
    padding-inline: 200px;
    background: linear-gradient(to right, #7f0012, #1b0a07);
    /* background-image: url('/static/images/mixer.jpg');
    background-size:auto;
    background-repeat: no-repeat; */
}

.content-section img {
    width: 50%;
    border-radius: 10px;
}

.content-text {
    width: 45%;
    font-size: 18px;
    line-height: 1.6;
}

.content-text h2 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 35px;
}

.stats-section {
    padding: 50px;
    /* background-color: #eef2f3; */
    text-align: center;

}

.stats-section .line, .content-text .line {
    width: 200px;
    border: 2px solid #fff;
    margin: 10px auto;
}

.content-text .line {
    margin-left: 0;
}

.stats-section h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 0;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 180px;
}

.stat-item {
    width: 20%;
    color: #fff;
}

.stat-item span {
    font-size: 45px;
    font-weight: 700;
}

.stat-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
}

.progress-bar {
    /* background-color: #ddd; */
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #fff;
}

.progress-bar div {
    height: 20px;
    background-color: red;
    width: 70%;
}

.footer {
    padding: 20px 200px;
    background: rgba(73, 46, 46, 0.479);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer a i {
    font-size: 18px;
    color: #ddd;
}
/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cards for Artists */
#artists-container, #locations-container, #dates-container, #relations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#artists-container a {
    text-decoration: none;
    list-style: none;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background: red;
    color: #fff;
    transition: 3s;
}

.card-content {
    width: 300px;
    max-width: 80%;
}

.card img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #ddd;
    text-decoration: none;
}

.card h3:hover {
    color: #fff;
}

.card p, .location p, .date p, .relation p {
    margin: 5px 0;
    color: #000;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content h2 {
    font-size: 45px;
    color: #fff;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

#content span {
    color: #fff;
    font-size: 26px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

#content .call-to-action {
    margin-top: 50px;
}

#content .call-to-action a{
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: red;
}

#content .call-to-action a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.err-msg p {
    color: #fff;
    font-size: 25px;
}

.artist-details {
    background: rgba(255, 255, 255, 0.7);
    width: 80%;
    border-radius: 10px;
    padding: 50px;
}

/* search-bar */
#search-bar {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 230px;
    background: transparent;
    color: #fff;
}

#search-results {
    position: absolute;
    border: 1px solid #fff;
    max-height: 200px;
    overflow-y: auto;
    width: 223px;
    z-index: 1000;
    margin-left: 15px;
    border-radius: 6px;
    color: #fff;
}

.search-result-item {
    padding: 5px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #ddd;
    color: #000;
}


/* Responsive Design */
@media (max-width: 768px) {
    .card, .location, .date, .relation {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card, .location, .date, .relation {
        flex: 1 1 100%;
    }

    header nav a {
        display: block;
        margin: 5px 0;
    }
}