/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Jacquard+12&family=Pacifico&family=Playwrite+HR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    color: #000000;
    background: linear-gradient(to right, #1f0021, #751006);

    /* background: linear-gradient(to right, #FF0000, #000000, #8B4513); */

}

/* Header and Navigation */
header {
    background: rgba(73, 46, 46, 0.479);
    color: #fff;
    padding: 15px 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

header img {
    width: 50px;
}

header h1 {
    margin: 0;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 36px;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-weight: 400;
}

header nav a:hover {
    text-decoration: underline;
}
.hero-container {
    background-attachment: fixed;
    background-image: url('/static/images/hero10.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.hero-container h2, .hero-container span, .call-to-action {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-container h2 {
    font-size: 45px;
    color: #fff;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 80px;
    margin-bottom: 30px;
}

.hero-container span {
    color: #fff;
    font-size: 26px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.hero-container .call-to-action {
    margin-top: 50px;
}

.hero-container .call-to-action a {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: red;
}

.hero-container .call-to-action a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.artist-slide {
    margin-block: 0px;
    height: 50vh;
    background: linear-gradient(to right, #1f0021, #751006);
}

.artist-slide h2 {
    margin-top: 0;
}
/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cards for Artists */
#artists-container, #locations-container, #dates-container, #relations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#artists-container a {
    text-decoration: none;
    list-style: none;
}

.card {
    background: rgba(255, 255, 255, 0.7);
    /* opacity: .5; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 15px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background: red;
    color: #fff;
}

.card-content {
    width: 300px;
    max-width: 80%;
}

.card img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    /* max-width: 100%; */
}

.card h3:hover {
    color: #fff;
}

.card p, .location p, .date p, .relation p {
    margin: 5px 0;
    color: #000;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content h2 {
    font-size: 45px;
    color: #fff;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

#content span {
    color: #fff;
    font-size: 26px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

#content .call-to-action {
    margin-top: 50px;
}

#content .call-to-action a{
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: red;
}

#content .call-to-action a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.err-msg p {
    color: #fff;
    font-size: 25px;
}

.artist-details {
    background: rgba(255, 255, 255, 0.7);
    width: 80%;
    border-radius: 10px;
    padding: 50px;
}

/* search-bar */
#search-bar {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 230px;
    background: transparent;
    color: #fff;
}

#search-results {
    position: absolute;
    border: 1px solid #fff;
    max-height: 200px;
    overflow-y: auto;
    width: 223px;
    z-index: 1000;
    margin-left: 15px;
    border-radius: 6px;
    color: #fff;
}

.search-result-item {
    padding: 5px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #ddd;
    color: #000;
}


/* Responsive Design */
@media (max-width: 768px) {
    .card, .location, .date, .relation {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card, .location, .date, .relation {
        flex: 1 1 100%;
    }

    header nav a {
        display: block;
        margin: 5px 0;
    }
}