<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Artists</title>
</head>
<body>
    <header>
        <h1><img src="/static/images/trumpet.png" alt="trumpet"> Groupie Trackers - Artists</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/artists">Artists</a>
        </nav>
    </header>
    <main id="content">
        <h2>Artists</h2>
        <div id="artists-container">
            {{range .}}
            <a href="/artist/{{.ID}}">
                <div class="card">
                    <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                </div>
            </a>
            {{end}}
        </div>
    </main>
</body>
</html>
