<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Artists</title>
</head>
<body>
    <header>
        <h1><img src="/static/images/trumpet.png" alt="trumpet"> Groupie Trackers - Artists</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/artists">Artists</a>
            <div class="search">
                <input type="text" id="search-bar" oninput="searchArtists(this.value)" placeholder="Search artists...">
                <div id="search-results"></div>
            </div>
        </nav>
    </header>
    <main id="content">
        <h2>Artists</h2>
        <div id="artists-container">
            {{range .}}
            <a href="/artist/{{.ID}}">
                <div class="card">
                    <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                </div>
            </a>
            {{end}}
        </div>
    </main>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
