<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Groupie Trackers</title>
</head>
<body>
    <header>
        <h1><img src="/static/images/trumpet.png" alt="trumpet"> Groupie Trackers</h1>
        <nav>
            <a href="/artists">Artists</a>
            <div class="search">
                <input type="text" id="search-bar" oninput="searchArtists(this.value)" placeholder="Search artists...">
                <div id="search-results"></div>
            </div>
        </nav>
    </header>
    <main id="content">
        <h2>Welcome to Groupie Trackers!</h2>
        <p><span>We track your favorite artists so you can keep your groove on!</span></p>
        <div class="call-to-action">
        <a href="/artists">Find your artist</a>
        </div>
    </main>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
